config-local.yaml
src/main/shell/framework/bootstrap/context/cache
src/main/shell/config/_idecomp.sh
src/main/shell/config/config.sh
.claude

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Build outputs ###
/dist/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Worktrees ###
.worktrees/
