Source: radp-bash-framework
Section: utils
Priority: optional
Maintainer: xooooooooox <xozoz.sos@gmail.com>
Build-Depends: debhelper-compat (= 13), bash, coreutils
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/xooooooooox/radp-bash-framework

Package: radp-bash-framework
Architecture: all
Depends: ${misc:Depends}, bash, coreutils
Description: Modular Bash framework with structured context.
 radp-bash-framework is a modular Bash framework with structured context.
